:root {
    --color-accent: #896c6b;
    --color-accent-mid:  #e3cecd;
    --color-accent-light: #f1e8e8;
    --color-accent-very-light: #fffaf8;
    --color-accent-active: #f7f2f0;
    --color-box: #fff;
    --color-card: #fafafa;

    --color-input: #f5f5f5;

    --color-grey: #eee; /*for inputs and image placheolders*/
    --color-hover: #fafafa; /* hover navigation*/
    --color-link: #1d85d2;

    --color-text: #000;
    --color-text-medium: #444;
    --color-text-light: #777;
    --color-text-white: #fff;
    --color-text-light-grey: #eee;

    --color-green-light: #cadfca;
    --color-green: #5d995d;
    --color-green-dark: #335c33;

    --color-red-dark:#ab2525;
    --color-red:#db7474;
    --color-red-light:#ffdfdf;

    --color-orange-dark: #8b5b04;
    --color-orange: #f1c40f;
    --color-orange-light: #efe3b4;

    --color-blue-dark: #334b81;
    --color-blue:#5875b9;
    --color-blue-light: #dae5ff;

    --color-purple-dark: #91598f;
    --color-purple-light: #ece0ec;
    --mobile: 600px;
    --tab: 992px;
}