body.affiliate {

    .aff-container {
        padding-top: 115px;
        background: $color-accent-very-light;
        overflow: auto;
    }


    .button-main {
        text-align: center;
        padding-bottom: 40px;
    }

}