@import '../colors.scss';

body.index {

    #hero-home {
        padding-top: 75px;
        padding-bottom: 30px;

        background: $color-accent-very-light;

        min-height:550px;

        > .container {
            padding-top: 25px;
        }

        .title-and-svg {
            display:flex;
            margin-top: 48px;
            padding-top:25px;

            .hero-title {
                flex:1;
                h1 {
                    font-size: 30px;
                    font-weight: 800;
                    margin-bottom: 15px;
                }
                h2 {
                    font-size: 16px;
                    letter-spacing: 0.3px;
                    font-weight: normal;
                }
                .button {
                    margin-top:25px;
                }
            }
            .hero-svg {
                flex: 2;
                text-align: center;
                height: 90vh;
                margin-top: -80px;
                max-height: 600px;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .hero-message-wrap {
            margin-top: 40px;

            .hero-message {
                white-space: nowrap;
                font-size: 12px;
                color: #3F51B5;
                border: 1px solid #3F51B5;
                border-radius: 5px;
                padding: 4px 8px 4px 8px;
                position: relative;
                font-weight: 600;
            }
        }

        @media screen and (max-width: $tab) {

            .title-and-svg {
                flex-direction: column;
                .hero-svg {
                    margin-top: 40px;
                    flex: initial;
                    max-height: 350px;
                }
            }

        }
    }

    .details-list {
        margin-bottom:120px;
        h3 {
            font-size: 26px;
            text-align: center;
            margin: 30px;
        }
        .details-table-wrap {
            background: #fffaf8;
            box-shadow: 0 0 30px rgb(0 0 0 / 10%);
            overflow: hidden;
            border-radius: 20px;
            width: 750px;
            max-width: 100%;
            margin: auto;
        }
        .details-table {
            display: flex;
            margin:auto;


            .description {
                flex: 4;
                margin: 0;
                padding: 30px;
                letter-spacing: 0.2px;
                line-height: 23px;
                border-right: 1px solid $color-accent-light;
                h4 {
                    margin-top: 0;
                    font-size: 20px;
                    margin-bottom: 15px;
                    svg {
                        vertical-align: middle;
                        width: 22px;
                        height: 22px;
                        margin-right: 4px;
                        margin-top: -4px;
                    }
                }
                p {
                    margin-top:0;
                    &.note {
                        font-size: 12px;
                        color: #777;
                    }
                }
                .image-wrap {
                    margin:30px;
                    img {
                        border-radius: 20px;
                        box-shadow: 0 0 40px 20px rgb(0 0 0 / 5%);
                    }
                }
            }

            .links {
                flex: 2;
                padding: 30px;
                color: $color-link;
                font-weight: 600;
                a {
                    display: block;
                    margin-bottom: 7px;
                    &:after {
                        content: "DOCS";
                        font-size: 8px;
                        display: inline-block;
                        padding: 2px 8px;
                        background: #eee;
                        border-radius: 20px;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                    &.themes-preview:after {
                        color: $color-purple-dark;
                        background: $color-purple-light;
                        content: "PREVIEW";
                    }
                    &.legal:after {
                        color: $color-red-dark;
                        background: $color-red-light;
                        content: "LEGAL";
                    }
                    &.blog:after {
                      color: $color-orange-dark;
                      background: $color-orange-light;
                      content: "BLOG";
                    }
                    &.none:after {
                        content: none;
                    }
                }
            }


            @media screen and (max-width: $mobile) {
                flex-direction: column;
                .description {
                    border-right: none;
                    padding-bottom: 15px;
                }
                .links {
                    padding-top: 0px;
                }
            }

            &:not(:first-child) {
                border-top: 1px solid $color-accent-light;
            }
        }
    }

    .button-main {
        text-align: center;
        margin-top:40px;
        padding-bottom: 40px;
    }

}