nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 65px;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
}
nav > .container {
    text-align: center;
}
nav .brand-name {
    vertical-align: middle;
    font-weight: 600;
    font-size: var(--header-font-size);
}
nav .nav-brand{
    text-decoration: none;
}
nav img {
    vertical-align: middle;
}
nav .navbar-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    position: relative;
}
nav .navbar-content a {
    margin-left: 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #333232;
    position: relative;
    padding: 8px;
    display: inline-block;
    transition: 0.3s transform;
}
nav .navbar-content a.active {
    border-bottom: 3px solid #886c6b;
}
nav .navbar-content a:hover {
    transform: scale(1.035);
}
nav #nav-mobile {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: var(--tab)) {
    nav #nav-mobile {
        display: block;
   }
    nav .navbar-nav {
        display: none;
        position: absolute;
        right: 0;
        top: 35px;
        background-color: var(--color-box);
        border-radius: 20px;
        width: 200px;
        padding: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
   }
    nav .navbar-nav.open {
        display: block;
   }
    nav .navbar-nav a {
        display: block;
   }
    nav .navbar-nav a.active {
        border-bottom: none;
        color: var(--color-accent);
   }
}
